<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Stuff I say about the things that I see.</p>
  </div>
  
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://www.linkedin.com/in/shawn-r-systems-science"><%= fa_icon "linkedin" %></a></li>
      <li><a href="https://github.com/lQQ3"><%= fa_icon "github" %></a></li>
      <li><a href="https://en.wikipedia.org/wiki/Serious_game"><%= fa_icon "wikipedia-w" %></a></li>
      <li><a href="https://soundcloud.com/user-21997151/shawnrice_phillipmarlowe_thepa/s-jU2mZ"><%= fa_icon "soundcloud" %></a></li>
    </ol>
  </div>
</div>