<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Portfolio Examples</h1>
    <p class="lead text-muted">Hardware, OS and language agnostic, I am engrossed with logical machines of all variety. I work with computers and electronics not simply as an occupation, but rather as a life-long passion. Below are examples of my work.</p>
    <p>
      <%= link_to "Find Out More About Me", about_me_path, class: 'btn btn-primary' %>
      <%= link_to "My Blog", blogs_path, class: 'btn btn-secondary' %>
    </p>
  </div>
</section>