<h1>About Me</h1>

<hr>

<div class="row">
	<div class="col-md-4">		
		<%= image_tag "profilePic.jpg", width: 300, alt: "Profile Picture" %>
	</div> 

	<div class="col-md-8">
		<p>With decades of experience, and penchant for learning, I utilize cross-discipline techniques and white-papered procedures to achieve lasting success on-time and on-budget.</p> 
		<p>I am happy to work as part of a team, or as a sole technologist.</p>
	</div>
</div>