<div class="inner cover">
	<h1 class="cover-heading">Welcome</h1>
	<p class="lead">Systems Science - Data Modeling - Artificial Intelligence - Machine Learning - Deep Learning - Data/Computer Sciences - Privacy/Security Engineering - Full-Stack Software Development - Systems Analysis</p>
	<p class="lead">Projects which are successful in the long term have one thing in common; all parts of the project are fitted to each other with purpose.</p>
	<p class="lead">
	  <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
	</p>
</div>